.questions-p1{
    color: #4ccabd;
    font-family: "Inter", Sans-serif;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.4em;
    letter-spacing: 1px;
}
.questions-h2{
    text-align: center;
    color: #1A1A1A;
    font-family: "Raleway", Sans-serif;
    font-size: 43px;
    font-weight: 700;
    line-height: 1.1em;
    letter-spacing: 0px;
}
.questions-p2       {
    text-align: center;
    color: #4F4F4F;
    font-family: "DM Sans", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.9em;
}