.specs-div {
  max-width: 15rem;
  border-radius: 10%;
  transition: all 0.3s ease-out;
  
}
.specs-div > h3 {
  font-family: "Raleway", Sans-serif;
  color: #1a1a1a;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3em;
  letter-spacing: 0.2px;
}
.specs-div > p {
  font-family: "DM Sans", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  color: #6c6c6e;
}
.specs-div:hover{
    /* box-shadow: 12px 12px 12px 12px lightblue; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}